{% extends 'base.html' %}

{% block content %}


 <div class ='content'>

   <h2 class='text-center mt-4 mb-4'>About <font style="font-family: Broadway;-webkit-text-stroke: 1px red;">Group 1</font></h2>
   <hr class='mt-0 mb-4' style="width:20%; margin: 0 40% 0 40%;border: none;height: 4px;background-color: red;">
   <div class='lead' style="text-align: justify; text-justify: inter-word;">
     <p>
     <font>We are a small group of 6 members who are students at the University of Bristol.
     <ol>
       <li>Kshitij Vashisth</li>
       <li>Ghani</li>
       <li>Alex Kelham</li>
       <li>Abbey Neave</li>
       <li>Li Yujuan</li>
       <li>Alexander Nazareth</li>
     </ol></font>
   </p>
     </div>

 </div>

{% endblock %}
