{% extends 'base.html' %}

{% block content %}
<head><title>About Us</title></head>

 <div class ='content'>

   <h2 class='text-center mt-4 mb-4'>About <font style="font-family: Broadway;-webkit-text-stroke: 1px red;">Group 1</font></h2>
   <hr class='mt-0 mb-4' style="width:20%; margin: 0 40% 0 40%;border: none;height: 4px;background-color: red;">
   <div class='lead' style="text-align: justify; text-justify: inter-word;">
     <p>
     <font>We are a small group of 6 members who are students at the University of Bristol.
     <ol>
      <a href="https://github.com/KayVeeZ" target="_blank"><li>Kshitij Vashisth</li></a>
       <p><u>About Kshitij</u>: From India, multi-talented, held multiple jobs in different avenues, use contact us to ask for stories on his different kinds of jobs ;). Desperate to be a software developer, even despite Devin, or data scientist, or Data Engineer or ML engineer to fight Devin, whichever comes first. Wants to create an actual cybernetic brain that will lead to the rise of the Arnold Terminator. Enjoys video games, hates hypocrites, doesn't mind being one.</p>
      <a href="https://github.com/ghani1506" target="_blank"><li>Mohammed Bin Ghani</li></a>
       <p><u>About Ghani</u>: From Brunei Darussalam, Education officer , pursuing master degree to be data analyst in Ministry of Education under Education specialist track. Likes to play musical instruments and music creations during free time.</p>
      <a href="https://github.com/Kelhamaa" target="_blank"><li>Alex Kelham</li></a>
      <a href="https://github.com/AbbeyNeave" target="_blank"><li>Abbey Neave</li></a>
      <a href="https://github.com/yujuan11" target="_blank"><li>Li Yujuan</li></a>
      <a href="https://github.com/alex-naz" target="_blank"><li>Alexander Nazareth</li></a>
     </ol></font>
   </p>
     </div>

 </div>

{% endblock %}
