{% extends 'base.html' %}

{% block content %}
<head>
    <title>Why Solar Cells?</title>
</head>
<body>
  <div class = "container"> 
    <h2 class="text-center mt-4 mb-4"><font style="font-family: Broadway;-webkit-text-stroke: 1px darkorange;">Why Solar Cells?</font></h2>
  <hr class='mt-0 mb-4' style="width:20%; margin: 0 40% 0 40%;border: none;height: 4px;background-color: darkorange;">
    <div class='row' style='margin-bottom:16px;'>
      <div class='col-md-6' style="text-align: justify; text-justify: inter-word;">
      <p class='lead' >
      <font>Solar cells, a cornerstone of renewable energy, are pivotal for sustainable power solutions. With a pressing need to curb carbon emissions, renewables offer a crucial alternative to finite fossil fuels. Solar cells harness the sun's energy, addressing environmental concerns and enhancing energy security. This transition fosters innovation, job creation, and socio-economic development, driving towards a sustainable future.<br>
        The urgency for embracing solar cells and renewable energy extends beyond environmental concerns. It encompasses strategic imperatives such as energy security, economic competitiveness, and social equity. By diversifying our energy sources and reducing reliance on fossil fuels, nations enhance their energy security and resilience. Moreover, the renewable energy sector fosters innovation, entrepreneurship, and job creation, driving economic growth while promoting social equity by democratizing access to electricity. In essence, the adoption of solar cells and renewable energy represents a pivotal shift towards a sustainable, equitable future.
    </font>
    </p>
      </div>
    <div class='d-none d-md-block col-md-6'>
    <img src='/static/solar_panel.jpg'style='height:500px;width:600px;border-radius:10px;'>
    </div>
</body>
{% endblock %}
